services:
  postgres:
    build:
      context: ./services/postgres
    profiles: ["postgres_db", "pgadmin"]
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # This is the "DX" magic - any SQL here runs on the first start
      # - ./services/postgres/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DATABASE}"]
      interval: 5s
      timeout: 5s
      retries: 5
  pgadmin:
    build:
      context: ./services/pgadmin
    profiles: ["pgadmin"]
    container_name: pgadmin_ui
    environment:
      # These are the credentials to log into the pgAdmin website
      PGADMIN_DEFAULT_EMAIL: ${PG_ADMIN_EMAIL:-admin@admin.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD:-admin}
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      # Persistence for your UI settings/saved queries
      - pgadmin_data:/var/lib/pgadmin

  dbt_core_cli:
    container_name: dbt_core_cli
    profiles: ["dbt"]
    build:
      context: ./services/dbt

    volumes:
      # Mount your local project directory (where your dbt project is) TODO: what if directory is outside the project 
      - ${DBT_PROJECT_PATH}:/usr/app
      # Mount your profiles file to be available inside the container
      - ${DBT_PROJECT_PATH}/profiles.yml:/root/.dbt/profiles.yml
      
    ports:
      - "8080:8080"
    environment:
      DBT_TARGET: dev
    env_file:
      - .env
    depends_on:
      - postgres
    command: tail -f /dev/null    
    

volumes:
  postgres_data:
  pgadmin_data: