include:
  - ./services/dbt/docker-compose-dbt.yml
  - ./services/airflow/docker-compose-airflow.yml
  - ./.env.docker-compose-includes.yml # include custom docker compose files for apis, etc

services:
  postgres:
    build:
      context: ./services/postgres
    profiles: ["postgres_db", "pgadmin"]
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DATABASE}"]
      interval: 5s
      timeout: 5s
      retries: 5
    
volumes:
  postgres_data: